@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <div>
        <h1>Iniciar Sesión con Spotify</h1>
        <a asp-controller="Auth" asp-action="Login">Login with Spotify</a>
    </div>
</body>
</html>
